.wrapper{
    display: grid;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.281);
    padding: 10px;
    width: 400px;
}

.wrapper > div{
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.281);
    width: 100%;
    height: 50px;
}

.listHead{
    font-size: 20px;
}


.listInfo{
    height: 25px !important;
    font-size: 13px;
    display: grid;
    padding-top: 5px;
    grid-template-columns: 60px 44px 30px 70px 80px 15px 50px;
}

.listInfoChild{
    display: inline-grid;
    /* border-style: solid; */
}

.listInfoButton{
    background-color: white;
    font-size: 12px;
    height: 20px;
    border-style: none;
}
.listInfoButton:hover{
    /* background-color: rgb(220, 220, 220); */
    /* transition: .2s; */
    border: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 3px;
}
.listInfoButton:focus{
    /* background-color: rgb(220, 220, 220); */
    /* transition: .2s; */
    border: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 3px;
}
.listInfoButton:active{
    background-color: rgb(200, 200, 200);
}

.listFooter{
    
}

.listItemContainer{
}

.listItem{
  /* margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  
  /* display: grid;
  grid-template-columns: 20% 80%; */
  
  display: flex;
  align-items: center;
  font-size: 17px;
  text-align: left;
}

.itemRemoveButton{
    border-style: none;
    background:url('Images/remove.png') no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
    cursor: pointer;
    opacity: 0.5;
}

.itemRemoveButton:hover{
    transition: 0.23s;
    opacity: 1;
}

.itemTextField{
    margin-left: 10px;
    text-align: left;
    width: 80%;
}

.itemTextFieldChk{
    color: rgba(128, 128, 128, 0.562);
    text-decoration: line-through;
}

.itemEmpty{
  /* display: flex; */
  align-items: center;
  font-size: 17px;
  text-align: center;
}

.itemHide{
    display: none;
}

.textInput{
    border-style: none;
    font-size: 25px;
    width: 95%;
}

.textInput:focus{
    outline: none;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    border-radius: 8px;
}

.inputNotValid{
    border-color: red !important;
    transition: .2s;
}


/*

    CHECK BOX STYLE

*/

.check_box {
    display:none;
}

.check_box + label{
    background:url('Images/checkbox.png') no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.check_box:checked + label{
    background:url('Images/checkbox_checked.png') no-repeat;
    background-size: contain;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}